<div class="card">
  <div class="card-header">
    <h3 class="card-title text-center"><%= @user.name %></h3>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card-body">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: "w-100 h-100" %>
        <% else %>
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
        <% end %>  
        <%= render "relations/follow_button", user: @user %>
        <% if current_user.id == @user.id %>
          <div class="text-center">
            <%= link_to "ユーザー内容を編集する", edit_user_path, class: "btn btn-primary mt-3" %>
            <%= link_to "このユーザーを削除する", @user, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-danger mt-3" %>
          </div>  
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body text-center">
        <% if @user.chara1? && @user.chara2? %>
          <h1><%= @user.name %>さんのメニキャラは！！！</h1>
          <h2 class="mt-5"><%= @user.chara1 %></h2>
          <h2>と</h2>
          <h2><%= @user.chara2 %></h2>
          <% if current_user.id == @user.id  %>
            <%= link_to "メニキャラを編集する", character_user_path , class: "btn btn-primary mt-3"%>
          <% end %>  
        <% else %>
          <% if current_user.id == @user.id  %>
            <h2 class="mt-5">みんなの持つキャラは一つでなくていい。<br>さあメニキャラへ進もう！</h2>
            <%= link_to "メニキャラを書いてみよう！", character_user_path , class: "btn btn-primary mt-3" %>
          <% else %>
            <h2>ここにはみんなの<br>メニキャラが並ぶよ！</h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿  <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り <span class="badge badge-secondary"><%= @count_likings %></span></a></li>
    </ul>
    <%= render "posts/posts", posts: @posts %>
  </div>
</div>