<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8 mt-5">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ!!<br>メニキャラへ</h1>
    <div class="card mt-5">
      <div class="card-header">
          メニキャラとは？
      </div>
      <div class="card-body">
          <p class="mb-3 mt-3">日常生活やマスメディアの影響から<br></p>
          <p class="mb-3 mt-3">キャラが固定化されてしまい窮屈に感じることはありませんか？<br></p>
          <p class="mb-3 mt-3">そこでこのメニキャラではキャラは固定化しなくてもいい（many_character）<br></p>
          <p class="mb-3 mt-3">という意味のもと楽しくチャットを楽しもうというサービスです。</p>
      </div>
    </div>
    <%= link_to "さあ始めてみよう！", signup_path , class: "btn btn-lg btn-primary mt-3" %>
  </div>
</div>
<% end %>